body {
            font-family: Arial, sans-serif;
            background-color: #f9f9f9;
            margin: 0;
            padding: 2em;
        }

h1 {
    text-align: center;
    }

        .container {
            max-width: 1000px;
            margin: auto;
        }

        .grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1.5em;
        }

        .card {
            background: white;
            border: 2px solid #F2C438;
            padding: 1em;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        }
        .card h3 {
            color: #2b6777;
        }
        
        a.card-link {
            text-decoration: none;
            color: inherit;
            display: block;
        }

        a.card-link:visited,
        a.card-link:hover,
        a.card-link:active {
            text-decoration: none;
            color: inherit;
        }

        a.card-link h3,
        a.card-link p,
        a.card-link strong {
            color: inherit;
            text-decoration: none;
        }
        
        .paginacao {
            text-align: center;
            margin-top: 2em;
        }

        .paginacao a,
        .paginacao span {
            display: inline-block;
            margin: 0 0.3em;
            padding: 0.5em 0.9em;
            border-radius: 5px;
            color: #2b6777;
            text-decoration: none;
            border: 1px solid #2b6777;
        }

        .paginacao .current {
            background-color: #2b6777;
            color: white;
            font-weight: bold;
            pointer-events: none;
        }

        .paginacao .disabled {
            opacity: 0.5;
            pointer-events: none;
        }


.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    gap: 10px;
}


.search-form input[type="text"] {
    width: 300px;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    transition: 0.3s ease;
}

.search-form input[type="text"]:focus {
    outline: none;
    border-color: #2b6777;
    box-shadow: 0 0 5px #2b6777;
}


.search-form button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #2b6777;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-form button:hover {
    background-color: #2b6777;
}
