{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Editar: {{ anuncio.titulo }} - Servito</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/anuncio_individual.css' %}" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Editar Anúncio</h1>
    <form method="post" action="{% url 'anuncio_editado' anuncio.id %}">
        {% csrf_token %}

        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo" value="{{ anuncio.titulo }}" required>

        <label for="tags">Categoria:</label>
        <input type="text" id="tags" name="tags" value="{{ anuncio.tags }}" required>

        <label for="cidade">Cidade:</label>
        <input type="text" id="cidade" name="cidade" value="{{ anuncio.cidade }}" required>

        <label for="descricao">Descrição:</label>
        <textarea id="descricao" name="descricao" rows="1" required>{{ anuncio.descricao }}</textarea>

    
        <div class="botoes">
            <button type="submit" class="salvar">Salvar Alterações</button>
        </div>
    </form>
    <form method="post" action="{% url 'anuncio_exclusao' anuncio.id %}" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="voltar" onclick="return confirm('Tem certeza que quer excluir?');">Excluir</button>
    </form>
    <a class="voltar" href="{% url 'meus_anuncios' %}">Cancelar</a>
    <a href="{% url 'listar_versoes_anuncio' anuncio.id %}">Ver versões anteriores</a>
        
</div>
</body>
</html>
